/* Import Fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lora:ital,wght@0,400..700;1,400..700&family=Quintessential&display=swap');

:root {
	--color-primary: #0d4663;
	--color-secondary: #135492;
	--color-accent: #ff9a88;

	--color-black: #111;
	--color-white: #f5f5f5;

	--font-sans: "Quintessential";

	--nav-height: 64px;
}

body {
	font-family: Quintessential;
	background-color: #370E06;
	min-height: 100dvh;

	display: flex;
  justify-content: center;
  align-items: center;
	align-content: space-evenly;

}

.container {
  display: flex;
  align-items: center	;
	justify-content: center;
	flex-wrap: wrap;
  gap: 60px;
	width: 1500px;
}

.box {
	width: 300px;
	display: flex;
	flex-direction: column;

	/* ทำให้ข้อความลอย? ไม่ work5555*/
	/* position: absolute;
	top: 50%;
  left: auto;
  width: 200px;
  height: 100px;
	z-index: 3; */
}

/* อันนี้ซ่อน radio box */
.box input[type="radio"] {
	width: 300px;
	gap: 15px;
	opacity: 0;
}

.label {
  background: #d8d2cf;
  padding: 15px 20px;
	border-radius: 15px 15px 0 0;
  cursor: pointer;
	font-weight: 900;
	position: relative;

	display: flex;
	align-items: center;
	align-content: center;
}

.info {
  max-height:0;
  overflow:hidden;
  background:#d8d2cf;
  padding:0 20px;
  color:#370E06;
	font-size: 1rem;
	font-weight: 600;
}

/* เลือกกล่องไหน info จะขยาย */
input[type="radio"]:checked + .label + .info {
  max-height: 200px;
  padding:12px 20px;
}

.image{
  position:relative;
  width: 1009px;
  height:540px;
  border-radius:20px;
}

.image img{
  position:absolute;
	inset: 0;
  width:100%;
  height:100%;
  object-fit:cover;
  border-radius:20px;
  opacity:0;
}

.container:has(#gryffindor:checked) .img1 { opacity: 1; }
.container:has(#ravenclaw:checked) .img2 { opacity: 1; }
.container:has(#hufflepuff:checked) .img3 { opacity: 1; }
.container:has(#slytherin:checked) .img4 { opacity: 1; }

.image img {
	z-index: 2;
}